JPD/CV02/knihy.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT knihovna (kniha*)>

<!ELEMENT kniha (autor*,nazev,vydavatel?,rok?)>
<!ATTLIST kniha
    isbn CDATA #REQUIRED
>

<!ELEMENT autor (#PCDATA)>
<!ATTLIST autor
    hlavni CDATA #IMPLIED
>

<!ELEMENT nazev (#PCDATA)>

<!ELEMENT vydavatel (#PCDATA)>

<!ELEMENT rok (#PCDATA)>